.App {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

input {
    margin: 10px 0;
    padding: 10px;
}

button {
    padding: 10px;
}
